body {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f2f2f2;
}

#list {
    height: 500px;
    width: 300px;
    border: 2px solid black;
    margin: 15px;
    background-color: white;
}

#list {
    padding-left: 15px;
    margin: 0px;
    list-style-position: inside;
    text-align: left;
}

li {
    list-style-position: inside;
}

li:hover {
    color: grey;
    cursor: pointer;
}

 h1 {
    font-size: 35px;
    margin-bottom: 20px;
 }

 button {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 }

 input {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
 }