body {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#list {
    height: 500px;
    width: 300px;
    border: 2px solid black;
    margin: 15px;
}

#list {
    padding-left: 15px;
    margin: 0px;
    list-style-position: inside;
    text-align: left;
}

li {
    list-style-position: inside;
}